<!-- =========================
  Page explanation
========================= -->
<mat-card class="!mb-2 !bg-gradient-to-r from-red-100 via-white to-red-50 !shadow-md !p-8 !flex !items-left !rounded-none !rounded-b-2xl">
  <div>
    <h1 class="text-4xl font-extrabold mb-2 text-red-700">Welcome to <span class="text-primary">Fliverse</span></h1>
    <p class="text-lg text-gray-700">
      Your personal universe to discover, search and explore information about <b>movies</b> and <b>series</b>.<br>
      Add your own content, share your favorites, and connect with the movie-loving community. Start your journey now!
    </p>
  </div>
</mat-card>
<!-- =========================
  Carrousel Section
========================= -->
<mat-card class="!p-8 !mt-2 !mb-6 !bg-white/70 !shadow-md">
  <div class="relative overflow-hidden w-full max-w-75 mx-auto !rounded-lg">
    <!-- Carrousel: Show when not loading -->
    <ng-container *ngIf="!isLoading; else skeletonCarrousel">
      <div class="flex transition-transform duration-500 !rounded-lg" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
        <!-- Carrousel Slides -->
        <div *ngFor="let content of slides" class="w-full flex-shrink-0 aspect-[2/3] overflow-hidden flex items-center justify-center relative !rounded-lg group">
          <div class="w-full h-full flex items-center justify-center overflow-hidden !rounded-lg transition-transform duration-500 group-hover:!scale-110">
            <img
              (click)="goToContent(content)"
              [id]="'sliderContent' + content.id"
              [src]="content.poster"
              alt="Slide"
              class="!w-full !h-full !object-cover !rounded-lg !cursor-pointer"
            />
          </div>
          <div class="absolute bottom-0 left-0 right-0 p-2 bg-gradient-to-t from-black to-transparent !rounded-b-lg">
            <h3 class="text-white text-lg font-semibold truncate">{{ content.title }}</h3>
          </div>
        </div>
      </div>
      <!-- Carrousel Navigation Buttons -->
      <button mat-icon-button (click)="prev()" class="!absolute !top-1/2 !left-2 !transform !-translate-y-1/2 !bg-white/70 hover:!bg-white !rounded-full !p-2 !z-10 !shadow-md">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="next()" class="!absolute !top-1/2 !right-2 !transform !-translate-y-1/2 !bg-white/70 hover:!bg-white !rounded-full !p-2 !z-10 !shadow-md">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <!-- Carrousel Pagination Dots -->
      <div class="flex justify-center !mt-4 sm:!mt-4 !mb-2 space-x-2 sm:space-x-4">
        <button
          *ngFor="let _ of slides; let i = index"
          mat-button
          (click)="goTo(i)"
          [ngClass]="{
            '!bg-primary': i === currentSlide,
            '!bg-gray-300': i !== currentSlide
          }"
          style="width: 32px; height: 32px; min-width: 0; padding: 0; border-radius: 9999px;"
          class="hover:!scale-110 !transition-transform">
        </button>
      </div>
    </ng-container>
    <!-- Carrousel Skeleton Loader -->
    <ng-template #skeletonCarrousel>
      <app-carrousel></app-carrousel>
    </ng-template>
  </div>
</mat-card>

<!-- =========================================================
  Most Recent Contents Section
========================================================= -->
<div class="px-4 sm:px-8 pb-8">
  <h1 class="text-5xl font-bold mt-10 text-primary">Recent contents</h1>
  <div
    class="grid gap-4 mt-6"
    [ngClass]="{
      'grid-cols-1': true,
      'sm:grid-cols-2': true,
      'md:grid-cols-3': true,
      'lg:grid-cols-4': true,
      'xl:grid-cols-5': true
    }"
  >
    <!-- Recent Contents: Show when not loading -->
    <ng-container *ngIf="!isLoading; else skeletonCardsRecent">
      <mat-card
        *ngFor="let content of latestContents; let i = index"
        [id]="'sliderContent' + content.id"
        class="!cursor-pointer !p-4 !shadow-md !bg-red-50 !border-2 !border-red-100 transition-transform hover:scale-105 hover:!shadow-lg hover:!border-red-300 hover:!border-4"
      >
        <!-- Content Poster -->
        <div class="w-full aspect-[2/3] overflow-hidden flex items-center justify-center">
          <img
            (click)="goToContent(content)"
            mat-card-image
            [src]="content.poster"
            alt="{{ content.title }}"
            class="!w-full !h-full !object-cover !rounded-md"
          />
        </div>
        <mat-card-content class="!px-1 !py-0">
          <!-- Content Title -->
          <h3 class="!text-2xl !font-semibold !text-primary truncate break-words max-w-full" style="word-break: break-word; overflow-wrap: anywhere;">{{ content.title }}</h3>
          <!-- Content Details -->
          <div class="flex items-center justify-between mt-2">
            <p class="!text-gray-600 text-md">{{ content.duration }} min</p>
            <p class="!text-gray-600 text-md ml-4">{{ content.release_date | date:"yyyy" }}</p>
          </div>
          <!-- Content Type -->
          <p class="!mt-4 !font-bold p-2 rounded-xl text-center bg-red-700 text-white">{{ content.type | titlecase }}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <!-- Recent Contents Skeleton Loader -->
    <ng-template #skeletonCardsRecent>
      <app-card *ngFor="let _ of skeletonArray"></app-card>
    </ng-template>
  </div>
</div>

<!-- =========================================================
  Random Contents Section
========================================================= -->
<div class="px-4 sm:px-8 pb-8">
  <h1 class="text-5xl font-bold mt-10 text-primary">Random contents</h1>
  <div
    class="grid gap-4 mt-6"
    [ngClass]="{
      'grid-cols-1': true,
      'sm:grid-cols-2': true,
      'md:grid-cols-3': true,
      'lg:grid-cols-4': true,
      'xl:grid-cols-5': true
    }"
  >
    <!-- Random Contents: Show when not loading -->
    <ng-container *ngIf="!isLoading; else skeletonCardsRandom">
      <mat-card
        *ngFor="let content of contents; let i = index"
        [id]="'sliderContent' + content.id"
        class="!cursor-pointer !p-4 !shadow-md !bg-red-50 !border-2 !border-red-100 transition-transform hover:scale-105 hover:!shadow-lg hover:!border-red-300 hover:!border-4"
      >
        <!-- Content Poster -->
        <div class="w-full aspect-[2/3] overflow-hidden flex items-center justify-center">
          <img
            (click)="goToContent(content)"
            mat-card-image
            [src]="content.poster"
            alt="{{ content.title }}"
            class="!w-full !h-full !object-cover !rounded-md"
          />
        </div>
        <mat-card-content class="!px-1 !py-0">
          <!-- Content Title -->
          <h3 class="!text-2xl !font-semibold !text-primary truncate break-words max-w-full" style="word-break: break-word; overflow-wrap: anywhere;">{{ content.title }}</h3>
          <!-- Content Details -->
          <div class="flex items-center justify-between mt-2">
            <p class="!text-gray-600 text-md">{{ content.duration }} min</p>
            <p class="!text-gray-600 text-md ml-4">{{ content.release_date | date:"yyyy" }}</p>
          </div>
          <!-- Content Type -->
          <p class="!mt-4 !font-bold p-2 rounded-xl text-center bg-red-700 text-white">{{ content.type | titlecase }}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <!-- Random Contents Skeleton Loader -->
    <ng-template #skeletonCardsRandom>
      <app-card *ngFor="let _ of skeletonArray"></app-card>
    </ng-template>
  </div>
</div>

<!-- Floating Action Button (FAB) -->
<button
  *ngIf="auth.isAuthenticated()"
  mat-fab
  color="primary"
  class="!rounded-2xl !fixed !bottom-8 !right-8 !z-50 !text-white !bg-red-500 hover:!bg-red-600 !transition-transform hover:!scale-105 !w-17 !h-17 !shadow-2xl !border-4 !border-white flex items-center justify-center"
  aria-label="Add content"
  [routerLink]="['/addcontent']"
>
  <mat-icon class="text-5xl leading-none scale-150">add_circle</mat-icon>
</button>