<div class="googlelogin-container relative">

  <div [class.opacity-50]="isLoading">

    <div id="g_id_onload"
        data-client_id="375918321013-hlldlhkcasc64hvh21k25a6jidu621os.apps.googleusercontent.com"
        data-login_uri="https://fliverse.es/login"
        data-use_fedcm_for_prompt="true">
    </div>

    <div id="g_id_signin"
        data-login_uri="https://fliverse.es/login"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-size="large"
        data-text="sign_in_with"
        data-client_id="375918321013-hlldlhkcasc64hvh21k25a6jidu621os.apps.googleusercontent.com"
        data-use_fedcm_for_button="true">
    </div>

  </div>
  
</div>